@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v22/If2cXTr6YS-zF4S-kcSWSVi_sxjsohD9F50Ruu7BMSoHTQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Grape Nuts';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/grapenuts/v1/syk2-yF4iLM2RfKj4F7k3tI.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserratalternates/v16/mFThWacfw6zH4dthXcyms1lPpC8I_b0juU057qfV.ttf) format('truetype');
}
@font-face {
  font-family: 'Satisfy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/satisfy/v11/rP2Hp2yn6lkG50LoOZQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Send Flowers';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sendflowers/v1/If2PXTjtZS-0Xqy13uCQSULvxw.ttf) format('truetype');
}
body {
  overflow: hidden;
  -webkit-background-size: cover;
  background-size: 100vh;
  background-position: center;
  background-image: url(../img/fondoMadera.jpg);
}
#flipbook {
  margin-top: 1%;
  margin-left: 15%;
  width: 60%;
  height: 90vh;
}
#flipbook .page {
  background-image: url(../img/FondoCarta.png);
  background-size: contain;
  border-left: solid 1px black;
}
#flipbook .page .item {
  margin-left: 12% ;
  display: inline;
  width: 100px;
  height: 20px;
  position: relative;
  top: 1%;
}
#flipbook .page .item img {
  top: 10%;
  width: 15px;
  height: 20px;
}
#flipbook .page .tituloPortada {
  font-family: 'Grape Nuts', cursive;
  position: absolute;
  top: 30%;
  left: 15%;
  font-size: 35px;
}
#flipbook .page .segundoTituloPortada {
  font-family: 'Send Flowers', cursive;
  position: absolute;
  top: 40%;
  left: 15%;
  font-size: 20px;
}
#flipbook .page .ano {
  font-family: 'Grape Nuts', cursive;
  position: absolute;
  top: 10%;
  left: 37%;
  font-size: 20px;
}
#flipbook .page .info {
  font-family: 'Grape Nuts', cursive;
  position: absolute;
  top: 70%;
  left: 26%;
  font-size: 20px;
}
#flipbook .page .telf {
  font-family: 'Send Flowers', cursive;
  position: absolute;
  top: 75%;
  left: 40%;
  font-size: 15px;
}
#flipbook .page .texto {
  width: 80%;
  height: 70%;
  position: absolute;
  top: 25%;
  left: 10%;
}
#flipbook .page .tituloPlato {
  font-size: 17px;
  text-decoration: underline;
  font-weight: bold;
  font-family: 'Satisfy', cursive;
}
#flipbook .page .precio {
  padding-left: 15%;
  margin-top: 3%;
  position: absolute;
  left: 80%;
  font-family: 'Satisfy', cursive;
}
#flipbook .page .descripcion {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 13px;
  color: black;
}
#flipbook .page .tituloPagina {
  margin-top: 15%;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  padding-bottom: 1%;
}
#flipbook .shadow {
  box-shadow: 0 4px 10px #666666;
}
